/*Universal Style*/

html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
  margin: 0;
  border: 1px solid red;
}

  /*Set all content to be 960px and centered*/
.partial-width {
  width: 960px;
  margin: 0 auto;
  border: 1px solid red;
}

/*Header*/

header {
  background-color: black;
  border: 1px solid red;
}

.logo {
  display: flex;
  align-items: center;
  border: 1px solid;
}

  /*height of .logo echo to max(img,p)*/
.logo img {
  height: 1.5rem;
  padding: 0 0.5rem;
  border: 1px solid;
}

.logo p {
  padding: 0.5rem;
  border: 1px solid;
}

/*main-banner*/

.main-banner {
  height: 25rem;
  background-image: url("../medias/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid;
}

.title {
  margin-top: 9rem;
  width: 25rem;
  background-color: black;
}

.title p {
  /*margin-top would cause fault, since .title have no specific height*/
  padding-top: 2rem;
  padding: 2rem 0 0.25rem 3rem;
  font-weight: bold;
  border: 1px solid red;
}

  /*set space between lines*/
.title h1,h2 {
  padding: 0 0 0.25rem 3rem;
  font-size: 2rem;
  font-weight: bold;
}

.title h2 {
  padding-bottom: 2rem;
}
